<!DOCTYPE html>
<html lang="en">
<!-- head -->
<%- include('partials/head') %>

  <!-- body -->

  <body class="bg-[#0D0D0D]">

    <!-- Main container -->
    <div class="w-full h-full md:h-screen grid grid-cols-1 md:grid-cols-12 overflow-hidden">

      <!-- Sidebar (Navbar) -->
      <%- include('partials/sidebar') %>

        <!-- Main Content Dinamic -->
        <main class="grid-cols-1 md:col-span-10 h-full md:min-h-screen overflow-y-auto">

          <%- body %>

        </main>
    </div>

    <script src="/js/deleteHero.js"></script>
  </body>

</html>